.main-profile {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.profile-card {
    width: 300px;
    overflow: hidden;
}

.profile-photo-container {

    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.info-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px $secondary-gray;

    button {
        background-color: $main-color;
    }

}

.photo-container {

    justify-self: center;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;

}

.description-container {

    justify-self: flex-start;
    align-self: center;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    button {
        padding: 0.5rem 0.75rem;
        border-radius: 3px;
        border: solid 0.5px $secondary-gray;
    }

}

.user_info_container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.follow_button {
    cursor: pointer;
}

.description-section {

    & {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    textarea {
        padding: 0.5rem 0.75rem;
        border-radius: 3px 0 0 3px;
        border: solid 0.5px $secondary-gray;
        border-right: none;
        resize: vertical;
    }

    button {
        border-radius: 0 3px 3px 0;
    }

}

.following {
    align-self: flex-start;
}

.photo-button {
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    border: solid 0.5px $secondary-gray;
}