.search-section{
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        border-radius: 0 3px 3px 0;
        border: 0.5px solid $secondary-gray;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
    }

    input{
        border-radius: 3px 0 0 3px;
        border: 0.5px solid $secondary-gray;
        border-right: none;
        padding: 0.5rem 0.75rem;
    }
}

.user-photo-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    img{
        width: 100%;
    }
}

.user-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: center;
    padding: 0.5rem 0.75rem;
    border: 0.5px solid $secondary-gray;
    width: 240px;
    background-color: $secondary-background;
    
}

.all-users-container{
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: 1fr;
    gap: 1rem;
}
