$main-background: rgb(233, 227, 227);
$secondary-background: rgb(250, 247, 247);

$main-blue: rgb(40, 40, 242);
$secondary-blue: rgb(75, 75, 248);
$tertiary-blue: rgb(66, 66, 196);

$secondary-gray: rgb(161, 161, 161);

$main-color: whitesmoke;
